$orange: #FA9C51;
$green: #3ed17a;
$light-green: lighten($green, 30%);
$red: #FF003C;
$grey: #EEF3F7;
$light-grey: lighten($grey, 3%);
$blue: #0BAFF7;

$background: $grey;
$hero: $orange;
$info: $blue;
$success: $green;
$failure: $red;
$separator: $grey;

body {
    margin: 0;
    background-color: $background;
}

button {
    margin: 0;
}

h1 {
    margin: 0;
}

#app {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.hero-header {
    background-color: $hero;
    color: white;
    display: flex;
    font-family: 'Bowlby One SC', cursive;
    grid-column: 1 / 4;
    justify-content: center;

    menu {
        display: flex;
        justify-content: flex-start;
        max-width: 1080px;
        min-width: 860px;
    }
}

.challenge-space {
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 0px 25px 0px;
    font-family: 'Ubuntu', sans-serif;
    grid-column: 2 / 3;
    margin-top: 40px;
}

.challenge {
    padding: 20px;
    margin-bottom: 20px;
}

.choice {
    margin: 10px;
    border: $separator solid 2px;
    border-radius: 10px;

    & input {
        display: none;
    }

    & label {
        display: block;
        padding: 10px;
        width: 100%;
    }

    &:hover:not(.locked){
        border-color: $info;
    }

    &.selected {
        background-color: $info;
        border-color: $info;
        color: white;
    }
}

.feedback {
    background-color: $light-grey;
    border-radius: 0 0 10px 10px;
    border-top: $separator solid 2px;
    box-sizing: border-box;
    min-height: 80px;
    padding: 20px;

    &.correct {
        color: $success;
    }

    &.false {
        color: $failure;
    }

    .next-control {
        background-color: $success;
        border-radius: 2em;
        border-style: none;
        color: white;
        position: static;
        float: right;
        font-size: 1.2em;
        font-weight: bold;
        padding: 0.4em 0;
        width: 150px;

        &:active {
            background-color: darken($success, 5%);
        }

        &:disabled {
            background-color: $separator;
            color: darken(white, 10%);
        }
    }
}
