<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Herodotus</title>

  <script src="https://unpkg.com/vue"></script>
  <script src="js/index.js"></script>
</head>

<body>
  <div id="app">
    <h1>{{ question }}</h1>
    <div v-for="answer in answers">
      <input
        type="checkbox"
        :id="'choice-' + answer.id"
        :value="answer.id"
        :disabled="selected_answers.length >= max_answers && selected_answers.indexOf(answer.id) === -1"
        v-model="selected_answers">
      <label :for="'choice-' + answer.id">{{ answer.text}}</label>
    </div>
    <button :disabled="selected_answers.length < 1" @click="check_answer">Check</button>
    <h1>{{ feedback }}</h1>
  </div>
</body>
</html>
